asgiref==3.7.2
certifi==2023.11.17
django==5.0
django-cors-headers==4.3.1
django-extensions==3.2.3
django-filter==23.5
django-maintenance-mode==0.21.0
django-storages==1.14.2
django-timezone-field==6.1.0
djangorestframework==3.14.0
gunicorn==21.2.0
idna==3.6
packaging==23.2
psycopg2==2.9.9
python-dotenv==1.0.0
python-fsutil==0.12.0
pytz==2023.3.post1
requests==2.31.0
six==1.16.0
sqlparse==0.4.4
urllib3==2.1.0
whitenoise[brotli]==6.6.0
